@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

:root {
    --primary-color: #fc00fc;
    --secondary-color: #333;
    --tertiary-color:  #9907ed;
    --text-color: #fff;
    --background-color: #2a0229;
    --hover-color: #555555;
    --font-family: 'Poppins', sans-serif;
    --border-style: 2px solid var(--primary-color);
}

@media screen and (max-width: 425px) {
    #bot1, #bot3, #bot4 {
        display: none;
    }
}

main {
    margin-bottom: 2rem;
}

body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--secondary-color);

    /*background-color: var(--background-color);*/
    color: var(--primary-color);
    font-family: var(--font-family);
    
    height: 100vh;
    margin: 0;
    text-align: center;
}

.pixelBot {
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    border: var(--border-style);
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

#displayBots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    
}



.button,
#connectButton,
#balanceDisplay,
#walletIdDisplay,
#mintButto,
#helpButton {

    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border: var(--border-style);
    margin: 0.3rem;
}

#connectButton {
margin-right: 0.6rem;
}


#connectButton:hover,
#mintButton:hover,
#helpButton:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
}

#mintButton:active {
    scale: 0.97;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

#mintButton {
    animation: blink 1s linear infinite;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.3rem;
}


header {
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto; 
    margin-right: auto;
    
}

H1 {
    font-size: 3rem;
    margin: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
    color:var(--text-color);
    text-shadow: 2px 2px 2px #000000;
}


#projectIntro {
    width: 300px;
    color: #fff;
    font-size: 0.5rem;
    margin-right: auto;
    margin-left: auto;
}


#connectButton,
#helpButton,
#balanceDisplay,
#walletIdDisplay,
#networkDisplay {
    font-size: 0.5rem;
}

#balanceDisplay,
#walletIdDisplay {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

#walletIdDisplay {
    border: var(--border-style);
}

footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    font-size: 0.5rem;
    padding-bottom: 0.5rem;
}

.link {
    margin: 1rem;

}



